<!doctype html>
<html class="no-js" lang="pt">

<head>
  <meta charset="utf-8">
  <title>Relatório Público Stayaway</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/minireset.min.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<div class="container">
  <header class="block">
    <h1>Relatório Público Stayaway</h1>
  </header>
  <div class="grid">
    <div class="content">
      <section id="intro">
        <div class="block">
            {{ intro }}
        </div>
      </section><!-- /#intro -->

      <section id="motivos">
        <div class="block">
          {{ eventos }}
        </div>
      </section><!-- /#motivos -->

      <section id="eventos">
        <div class="block">
          {{ motivos }}
        </div>
      </section><!-- /#motivos -->

      <section id="conclusoes">
        <div class="block">
          {{ conclusoes }}
        </div>
      </section><!-- /#conclusoes -->

    </div><!-- /.content -->


    <nav class="main-nav">
      <div class="block">
        {{ toc }}
        <!--
        <h5>Relatório Público Stayaway</h5>
        <ul>
          <li><a href="#intro">Introdução</a></li>
          <li><a href="#motivos">Motivos</a>
            <ul>
              <li>Motivo A</li>
              <li>Motivo B</li>
              <li>Motivo C</li>
              <li>Motivo D</li>
              <li>Motivo E</li>
            </ul>
          </li>
          <li><a href="#intro">Eventos</a></li>
          <li><a href="#conclusoes">Conclusões</a></li>
          <li><a href="#metodologia">Metodologia e Cólofon</a></li>
        </ul>
        -->
      </div>
    </nav>
  </div><!-- /.grid -->

</div><!-- /.container -->

</body>

</html>
